*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
}
.main{
    border: 1px solid grey;
    margin: 10px;
    padding:10px;
    height: 450px;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: whitesmoke;
}
.main>div{
    background-color: white;


}
.additems{
    border: 1px solid grey;
    height: 150px;
    margin-top: 100px;
    width: 200px;
    background-color: white;
    padding: 10px;

}
input{
    width: 98%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}
.button1{
float: right;
background-color: cyan;
width: 50px;
border: 1px solid lightgrey;
outline: none;
height: 20px;
border-radius: 2px;
}
.button2{
    background-color: cyan;
    width: 50px;
    margin-left: 50px;
    border: 1px solid lightgrey;
    outline: none;
    height: 20px;
    border-radius: 2px;
    }
select{
width: 98%;
border: 1px solid whitesmoke;
outline: none;
height: 25px;
border-radius: 2px;

}


.newBill{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    overflow: auto;
}
.newBill>div{
    border: 1px solid grey;
    height: 40px;
    width: 98%;
    padding: 10px;
    margin-bottom: 5px;
}
.total{
    border: 1px solid whitesmoke;
    align-self: baseline;
}
.items>div{
    border: 1px solid grey;
    height: 40px;
    width: 98%;
    padding: 10px;
    margin-bottom: 5px;
}
.items,.myBill,.sales{
    overflow-y: auto;
    height: 200px;
}
